* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 1rem = 10px; */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Vazirmatn', sans-serif;
  line-height: 1;
  font-weight: 400;
  font-size: 1.6rem;
  color: #444;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.justify-content-center {
  display: flex;
  justify-content: center;
}
