* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 1rem = 10px; */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Vazirmatn', sans-serif;
  line-height: 1;
  font-weight: 400;
  font-size: 1.6rem;
  color: #444;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.justify-content-center {
  display: flex;
  justify-content: center;
}

.required {
  color: rgba(255, 0, 0, 0.65);
}

.warning-message {
  font-size: 1.2rem;
  text-align: center;
  color: red;
}

.warning-message--mismatch {
  font-size: 1.2rem;
  text-align: center;
  color: red;
}

.warning-icon {
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  fill: red;
}

.left-padding {
  padding: 2.4rem 1.2rem 1rem 3.8rem !important;
}

.warning-input {
  border: 1px solid #dc3545 !important;
}

.warning-input:focus {
  box-shadow: 0 0 0 0.4rem rgba(220, 53, 69, 0.25) !important;
}

.hidden {
  display: none;
}
