.section-login {
  padding: 5.2rem 0;
}

.login-form {
  width: 45%;
  padding: 1.4rem;
  background-color: #f6f6f6;
  border-radius: 0.5rem;
}

.login-form__header {
  text-align: center;
  line-height: 1.6;
  margin-bottom: 1.8rem;
}

.login-form__title {
  font-size: 2.4rem;
  font-weight: 500;
  color: #333;
}

.login-form__subtitle {
  font-size: 1.4rem;
  color: #777;
}

.login-form__form {
  margin-bottom: 1.6rem;
}

.login-form__box {
  position: relative;
  margin-bottom: 1rem;
}

.login-form__form .login-form__group:nth-child(1) {
  margin-bottom: 1.6rem;
}

.login-form__label {
  font-size: 1.2rem;
  color: #777;
  position: absolute;
  top: 1rem;
  right: 1.2rem;
}

.login-form__label label:first-child {
  cursor: text;
}

.login-form__input {
  width: 100%;
  padding: 2.4rem 1.2rem 1rem 1.2em;
  font-size: 1.6rem;
  font-family: 'Vazirmatn', sans-serif;
  color: #333;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  transition: 200ms;
}

.login-form__input:focus {
  outline: none;
  border: 1px solid #0d6efd;
  box-shadow: 0 0 0 0.4rem rgba(0, 123, 255, 0.25);
  caret-color: #333;
}

.login-form__forgot-link:link,
.login-form__forgot-link:visited {
  display: inline-block;
  font-size: 1.4rem;
  color: #0d6efd;
  margin-bottom: 1.6rem;
}

.login-form__forgot-link:hover,
.login-form__forgot-link:active {
  text-decoration: none;
  color: #0a58ca;
}

.login-form__submit-link:link,
.login-form__submit-link:visited,
.login-form__register-link:link,
.login-form__register-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  padding: 1rem 1.2rem;
  transition: 200ms;
}

.login-form__submit-link {
  background-color: #198754;
  border-color: #146c43;
}

.login-form__register-link {
  background-color: #0d6efd;
}

.login-form__submit-link:hover,
.login-form__submit-link:active {
  background-color: #146c43;
  border-color: #146c43;
}

.login-form__register-link:hover,
.login-form__register-link:active {
  background-color: #0a58ca;
  border-color: #0a53be;
}

/* --- Media Queries --- */
@media (max-width: 69em) {
  .login-form__title {
    font-size: 2.2rem;
  }

  .login-form__subtitle {
    font-size: 1.4rem;
  }

  .login-form__input {
    padding: 2.2rem 1rem 0.8rem 1em;
    font-size: 1.4rem;
  }

  .login-form__forgot-link:link,
  .login-form__forgot-link:visited {
    font-size: 1.2rem;
  }

  .login-form__submit-link:link,
  .login-form__submit-link:visited,
  .login-form__register-link:link,
  .login-form__register-link:visited {
    padding: 0.8rem 1rem;
    font-size: 1.4rem;
  }
}

@media (max-width: 46em) {
  .login-form {
    width: 60%;
  }
}

@media (max-width: 32em) {
  .login-form {
    width: 90%;
  }

  .register-form__title {
    font-size: 2.2rem;
  }

  .register-form__subtitle {
    font-size: 1.4rem;
  }

  .login-form__input {
    padding: 2rem 0.8rem 0.6rem 0.8em;
    font-size: 1.4rem;
  }

  .login-form__forgot-link:link,
  .login-form__forgot-link:visited {
    font-size: 1.2rem;
  }

  .login-form__submit-link:link,
  .login-form__submit-link:visited,
  .login-form__register-link:link,
  .login-form__register-link:visited {
    padding: 0.8rem 1rem;
    font-size: 1.4rem;
  }
}
