.section-register {
  padding: 5.2rem 0;
}

.register-form {
  width: 45%;
  padding: 1.4rem;
  background-color: #f6f6f6;
  border-radius: 0.5rem;
}

.register-form__header {
  text-align: center;
  line-height: 1.6;
  margin-bottom: 1.8rem;
}

.register-form__title {
  font-size: 2.4rem;
  font-weight: 500;
  color: #333;
}

.register-form__subtitle {
  font-size: 1.4rem;
  color: #777;
}

.register-form__form {
}

.register-form__box {
  position: relative;
  margin-bottom: 1rem;
}

.register-form__group {
  margin-bottom: 1.6rem;
}

.register-form__label {
  font-size: 1.2rem;
  color: #777;
  position: absolute;
  top: 1rem;
  right: 1.2rem;
}

.register-form__label label:first-child {
  cursor: text;
}

.register-form__input {
  width: 100%;
  padding: 2.4rem 1.2rem 1rem 1.2em;
  font-size: 1.6rem;
  font-family: 'Vazirmatn', sans-serif;
  color: #333;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  transition: 200ms;
}

.register-form__input:focus {
  outline: none;
  border: 1px solid #0d6efd;
  box-shadow: 0 0 0 0.4rem rgba(0, 123, 255, 0.25);
  caret-color: #333;
}

.register-form__submit-link:link,
.register-form__submit-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border-radius: 0.5rem;
  padding: 1rem 1.2rem;
  transition: 200ms;
  background-color: #198754;
  border-color: #146c43;
}

.register-form__submit-link:hover,
.register-form__submit-link:active {
  background-color: #146c43;
  border-color: #146c43;
}

@media (max-width: 65em) {
  .register-form {
    width: 55%;
  }
}

@media (max-width: 51em) {
  .register-form {
    width: 70%;
  }

  .register-form__input {
    padding: 2.2rem 1rem 0.8rem 1em;
    font-size: 1.4rem;
  }
}

@media (max-width: 36em) {
  .register-form {
    width: 90%;
  }

  .register-form__title {
    font-size: 2.2rem;
  }

  .register-form__subtitle {
    font-size: 1.4rem;
  }

  .login-form__input {
    padding: 2rem 0.8rem 0.6rem 0.8em;
    font-size: 1.4rem;
  }

  .register-form__submit-link:link,
  .register-form__submit-link:visited {
    padding: 0.8rem 1rem;
    font-size: 1.4rem;
  }
}
